* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rubik;
    overflow-x: hidden;
    background-color: rgb(239, 239, 239);
}

nav {
    display: flex;
    background-color: lightblue;
    justify-content: space-between; /* Changed to space-between */
    padding: 20px 40px; /* Increased horizontal padding */
    color: rgb(255, 254, 254);
    align-items: center;
    border-bottom: 1px solid rgb(184, 184, 184);
}

nav .logo {
    letter-spacing: 3px;
    margin-right: auto; /* Added margin to push items to the left */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added shadow */
    padding: 5px 10px; /* Added padding for better appearance */
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul :hover {
    color: rgb(98, 98, 98);
}

nav ul li {
    margin-left: 20px; /* Added margin between navbar items */
}

nav ul li:first-child {
    margin-left: 0; /* No margin for the first navbar item */
}

nav ul li a {
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added shadow */
}

/* Hamburger */
.menu-bars {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-bars input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-bars span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-bars span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-bars span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-bars input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-bars input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-bars input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

@media only screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .menu-bars {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        margin-top: 10%;
        justify-content:space-evenly;
        flex-direction: column;
        align-items:center;
        background-color: lightblue;
        transform: translateX(100%);
        transition: all 1s;
        border-left: 1px solid rgb(184, 184, 184);
    }
}

nav ul.slide {
    transform: translateX(0);
}